html {
  background: grey; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(black, grey) no-repeat; /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(black, grey) no-repeat; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(black, grey) no-repeat; /* For Firefox 3.6 to 15 */
  background: linear-gradient(black, grey) no-repeat; /* Standard syntax (must be last)*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  font-family: 'Roboto', helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.site-nav {
  /*float: left;*/
  background-color: black;
  height: 2.5em;
  width: 100%;
  margin-bottom: 2em;
}

img.logo {
  position: absolute;
  left: -10em;
  margin: -2em;
  transform: scale(0.3, 0.3);
  -ms-transform: scale(0.3, 0.3);
  -webkit-transform: scale(0.3, 0.3);
}

.btn-signup, .btn-login, .btn-signup:focus, .btn-login:focus {
  float: right;
  margin-top: 0.3em;
  margin-right: 1em;
  height: 3em;
  width: 7em;
  border-radius: 1em;
  background: #00AEFF;
  border-style: none;
  box-shadow: none;
  outline: 0;
}

.btn-signup:hover, .btn-login:hover {
  background: #007fba;
}

.signup-container, .login-container {
  margin: 0 auto;
  /*margin-top: 10em;*/
  /*position: relative;*/
  /*padding: 20px;*/
  width: 350px;
  height: 380px;
  background-color: white;
  border-radius: 3px;
}

fieldset {
  border: 0;
  text-align: left;
  display: flex;
  padding-left: 3em;
}

input#username, input#password {
  width: 14em;
  height: 2em;
  margin-bottom: 1em;
  font-size: 1em;
}

.signup-login-text {
  text-align: center;
  padding-top: 1em;
  display: block;
  color: #00AEFF;
  text-shadow: 0 0 3px grey;
}

.hidden {
  display: none;
}

.existing-account-text {
  text-align: center;
  padding-top: 1em;
  display: block;
  font-size: 0.8em;
}

a.existing-account-text, a.existing-account-text:hover:after {
  font-size: 1em;
  display: inline;
  color: #00AEFF;
}

button.btn.signup, button.btn.login {
  margin: 0 auto;
  display: block;
  height: 3em;
  width: 7em;
  border-radius: 3px;
  border-style: none;
  background: #00AEFF;
  box-shadow: none;
  outline: 0;
}

button.btn.signup:hover, button.btn.login:hover  {
  background: #007fba
;
}

.about {
  text-align: center;
}
