body {
    background-image: url('../assets/wallst.jpg') !important;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

a.daytradr:hover {
text-decoration: none;
color: #337ab7;
}

.jumbotron.text-center {
  background: #333;
  padding-top: 20px;
  padding-bottom: 20px;
}
.login-register {
  color: #008542;
  margin: 0;
  padding: 0;
}

.search-query {
  margin-bottom: 20px;
}

input[type=number] {
  width: 50px;
}

a, a:hover {
  text-decoration: none;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #333;
}

.text-muted {
  text-align: center;
  margin: 10px 0;
}

.fa.fa-heart {
  color: red;
}

/*animated*/

.animated.bounceInUp.well.first {
  background: #333;
  max-width: 30%;
  color: #008542;
  -webkit-animation-delay: 0.2s;
  opacity: 0.9;
}

.animated.bounceInUp.well.second {
  background: #333;
  max-width: 30%;
  color: #008542;
  -webkit-animation-delay: 0.6s;
  opacity: 0.9;
}

.animated.bounceInUp.well.third {
  background: #333;
  max-width: 30%;
  color: #008542;
  -webkit-animation-delay: 0.9s;
  opacity: 0.9;
}
