html {
  padding-top: 80px;
  background: #008542;
}

.container {
  /*background: #008542;*/

}
.search-query {
  margin-bottom: 20px;
}

input[type=number] {
  width: 50px;
}

.error {
  color: red;
  text-align: center;
}

.hidden {
  display: none;
}

.well {
  background: #008542;
}
