html, body {
  background: #333 !important;
}

body {

}

.container {
  color: #008542;
  background: #333;
  margin: 0;
  padding: 0;
}

.search-query {
  margin-bottom: 20px;
}

input[type=number] {
  width: 50px;
}

a, a:hover {
  text-decoration: none;
}

.error {
  color: red;
  text-align: center;
}

.hidden {
  display: none;
}

.well {
  background: #008542;
}

h3.text-center {
  font-family: 'Raleway', sans-serif;
}
